# host variables
DB=/path/to/monitorrent/db
PORT=5000

# change it for different container name
CONTAINER_NAME=monitorrent
NETWORKING=bridge
RESTART_POLICY=always

# build variables default
MONITORRENT_VERSION=1.0.0-beta.1

# Makefile required
PORTS=\
  -p $(PORT):5000
VOLUMES=\
  -v $(DB):/var/www/monitorrent/monitorrent.db
NETWORK=--net=$(NETWORKING)
RESTART=--restart=$(RESTART_POLICY)
