# host variables
DB=/path/to/monitorrent/db
PORT=6687

# change it for different container name
CONTAINER_NAME=monitorrent
NETWORKING=bridge
RESTART_POLICY=always

# build variables default
MONITORRENT_VERSION=1.1.0

# Makefile required
PORTS=\
  -p $(PORT):6687
VOLUMES=\
  -v $(DB):/var/www/monitorrent/monitorrent.db
NETWORK=--net=$(NETWORKING)
RESTART=--restart=$(RESTART_POLICY)
